name: Swift

on:
  pull_request:
    branches: [ main ]

jobs:
  check-version:
    uses: kokoichi206/twitter-clone-ios/.github/workflows/check-version.yml@5f644c769d031eefeb4c63ba6a99bb267c47fc7f

  build:
    runs-on: macos-latest
    needs: [ check-version ]
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v

    - name: Decode GoogleService
      run: |
        echo ${{ secrets.GOOGLE_SERVICE }} | base64 --decode > ./GoogleService-Info.plist
        echo ${{ secrets.GOOGLE_SERVICE }} | base64 --decode > ./TwitterCloneUITests/GoogleService-Info.plist

    - name: Build
      run: xcodebuild
            -scheme TwitterClone
            -sdk iphonesimulator
            -configuration Debug
            build
      - name: Store cache for later upload
        uses: actions/cache@v2
        with:
          path: |
            ~/Library/Developer/Xcode/DerivedData/*/Logs/Build/*
            ~/Library/Developer/Xcode/DerivedData/*/Build/Products
          key: ${{ runner.os }}-build-${{ hashFiles('./TwitterClone.xcodeproj/project.pbxproj') }}
          restore-keys: |
            ${{ runner.os }}-build-

  tests:
    runs-on: macos-latest
    needs: [ check-version ]
    steps:
    - name: Run tests
      run: xcodebuild
            -scheme TwitterClone
            -sdk iphonesimulator
            -destination 'platform=iOS Simulator,name=iPhone 11 Pro'
            clean test
    steps:
      - name: Store cache for upload
        uses: actions/cache@v2
        with:
          path: |
            ~/Library/Developer/Xcode/DerivedData/*/Logs/Test
          key: ${{ runner.os }}-tests-${{ hashFiles('./TwitterClone.xcodeproj/project.pbxproj') }}
          restore-keys: |
            ${{ runner.os }}-tests-

  deploy-artifacts:
    runs-on: macos-latest
    needs: [ build, tests ]
    steps:
      - name: Restore cache for upload build logs
        uses: actions/cache@v2
        with:
          path: |
            ~/Library/Developer/Xcode/DerivedData/*/Logs/Build/*
            ~/Library/Developer/Xcode/DerivedData/*/Build/Products
          key: ${{ runner.os }}-build-${{ hashFiles('./TwitterClone.xcodeproj/project.pbxproj') }}
          restore-keys: |
            ${{ runner.os }}-build-
    steps:
      - name: Restore cache for upload test logs
        uses: actions/cache@v2
        with:
          path: |
            ~/Library/Developer/Xcode/DerivedData/*/Logs/Test
          key: ${{ runner.os }}-tests-${{ hashFiles('./TwitterClone.xcodeproj/project.pbxproj') }}
          restore-keys: |
            ${{ runner.os }}-tests-
    - name: Archive test artifacts
      uses: actions/upload-artifact@v2
      with:
        name: test-artifacts
        path: |
          ~/Library/Developer/Xcode/DerivedData/*/Logs/Build/*
          ~/Library/Developer/Xcode/DerivedData/*/Build/Products
          ~/Library/Developer/Xcode/DerivedData/*/Logs/Test
        if: always()

  swift-lint:
    runs-on: macos-11
    needs: [ check-version ]
    steps:
      - uses: actions/checkout@v2

      - name: Lint code using SwiftLint
        run: swiftlint lint --reporter github-actions-logging
