name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-version:
    uses: kokoichi206/twitter-clone-ios/.github/workflows/check-version.yml@5f644c769d031eefeb4c63ba6a99bb267c47fc7f

  build-and-test:
    needs: [ check-version ]
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v

  swift-lint:
    needs: [ check-version ]
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      
      - name: Lint code using SwiftLint
        run: swiftlint lint --reporter github-actions-logging
